@{
    ViewData["Title"] = "Empresa";
}

<br />
<br />
<h1 class="text-center">@ViewData["Title"]</h1>
<br />
<br />
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h5>Misión</h5>
        <p>
            SalesSystem busca satisfacer las necesidades de compra que tenemos todos, a través de bienes de excelencia, originalidad y calidad. 
            Nuestro modelo de negocio se basa en procesos de comercio electrónico, seguros y eficientes. 
        </p>
    </div>

    <div class="col-md-6 col-sm-12">
        <h5>Visión</h5>
        <p>
            Queremos que SalesSystem en el 2025 sea una de las empresas líder en el mercado online.
            Desarrollando un canal fuerte de ventas por medio de nuestra Tienda Virtual, ofreciendo los mejores productos,
            de una manera fácil, cómoda y segura, buscando constantemente nuevas tecnologias,
            basados en el conocimiento de las necesidades de nuestra clientela.
        </p>
    </div>
</div>
